[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
networkx = "*"
jupyter = "*"
torch = "*"
tqdm = "*"
matplotlib = "*"
torch-scatter = "*"
torch-sparse = "*"
torch-cluster = "*"
torch-spline-conv = "*"
torch-geometric = "*"

[dev-packages]

[requires]
python_version = "3.10"
