[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
networkx = "*"
tqdm = "*"
ipykernel = "*"
matplotlib = "*"
tabulate = "*"
torch-geometric = "*"
ipdb = "*"

[dev-packages]

[requires]
python_version = "3.10"
